<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breast Cancer Prediction Form</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 p-4">
    <div class="max-w-md mx-auto bg-white p-6 rounded-lg shadow-md">
        <h1 class="text-2xl font-semibold mb-4">Breast Cancer Prediction</h1>
        <form id="cancerPredictionForm" action="/predict_cancer_type/" method="POST">
            <!-- Assuming you have a list of column names from your dataset -->
            <div class="mb-4">
                {% for column_name in column_names %}
                    <label for="{{ column_name }}" class="block text-sm font-medium text-gray-700">{{ column_name }}</label>
                    <input type="number" name="features" id="{{ column_name }}" class="form-input w-full mt-1" placeholder="Enter {{ column_name }}" min="0" step="0.001" required>
                {% endfor %}
            </div>
            <div class="mt-6">
                <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Predict</button>
            </div>
        </form>
    </div>
</body>
</html>
